@page "/DevName"
<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <RadzenImage Path="images/ava.jpg" Style="width:250px;" />
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-2 col-6">
                    <RadzenLabel Text="Name" />
                </div>
                <div class="col-md-2 col-6">
                    <RadzenLabel Text="Vitali" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-6">
                    <RadzenLabel Text="Surname" />
                </div>
                <div class="col-md-2 col-6">
                    <RadzenLabel Text="Tkachenko" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-6">
                    <RadzenLabel Text="Group" />
                </div>
                <div class="col-md-2 col-6">
                    <RadzenLabel Text="TTP-3" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <RadzenLabel Text="Hi, my name is Vitali and I am the developer of this program :)" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <RadzenLabel Text="Email : vtkp83@gmail.com" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <RadzenLabel Text="Phone Number : +38(068)-367-33-38" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
